<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cl.clserverSystem.mapper.StoreMapper">

    <select id="display" resultType="com.cl.clserverSystem.entity.Store">
        select * from Store;
    </select>
</mapper>